<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <ul class="nav nav-tabs" role="tablist">
      	<li><%= link_to 'Users', users_path %></li>
      	<li><%= link_to 'Theaters', theaters_path %></li>
      	<li><%= link_to 'Productions', productions_path %></li>
      	<li><%= link_to 'Plays', plays_path %></li>
      </ul>
    </div>
  </div>
</nav>