<% title "New Character in #{@play.title}" %>

<p><strong>Existing characters:</strong>
	<ul>
		<% @play.characters.each do |character| %> 
			<li><%= character.name %></li>
		<% end %>
	</ul>
</p>


<%= render :partial => 'form' %>

<p><%= link_to "Back to List", play_characters_path(@play) %></p>
