.formtastic .stringish input {
  width: 25% !important;
}

.fields{
  margin:15px
}

.acts {
  background: #E0E0E0;
}

.scenes {
  background: #B8B8B8;
}

.french_scenes {
  background: #909090;
}

.remove_nested_fields {
  color: red
}

.add_nested_fields {
  color: blue
}


