<p class="fields">
<%= f.input :scene_number, :required => true  %>
</p>
  <div class="french_scenes"> 
  <%= f.fields_for :french_scenes %>
  </div>
  <%= f.link_to_add "Add a french scene", :french_scenes %><br />
<%= f.link_to_remove "Remove Scene" %>
<hr>

